* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: arial;
  }
  body {
    background-color: #f4f4f4;
  }
  .container {
    background: #fff;
    width: 500px;
    margin: 50px auto;
  }
  .container .header {
    width: 100%;
    background: #22b5a0;
    height: 70px;
  }
  .header h1 {
    color: #fff;
    font-size: 20px;
    line-height: 70px;
    margin: 0 20px;
  }
  .container ul li {
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  ul li img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #42b883;
    padding: 3px;
  }
  ul li h1 {
    margin-left: 70px;
    margin-top: -50px;
    font-size: 17px;
    font-weight: 550;
  }
  ul li p {
    margin-left: 70px;
    margin-top: 0px;
  }
  ul li:hover {
    cursor: pointer;
    background: #f2f4f8;
  }
.bi-star-fill{
  padding: 0px 5px;
  color: orange;
}
tr:hover{
  cursor: pointer;
}